@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #efefef;
  --background-start-hex: #EE66B7;
  --background-end-hex: #FDF5FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: 255, 255, 255;
    --background-start-hex: 0, 0, 0;
    --background-end-hex: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-hex));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-hex))
    )
    rgb(var(--background-start-hex));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
